body {
    text-align: center;
}
#yeet{
    margin-top: 10px;
}
#urmom{
    width: 1690.5px;
    height: 1000px;
    margin-top: 50px;
}
#yeeet{
    position:fixed;
    width: 1690.5px;
}
html{
    scroll-behavior: smooth;
}